# --- OMNIVISION SECURITY SHIELD ---
# Sanal Ortam ve Önbellekler
venv/
__pycache__/
*.pyc

# Yapay Zeka Ağırlık Dosyaları
*.pt
*.onnx
yolov26x.onnx
# Veritabanı ve Yerel Loglar
*.db

# Güvenlik ve Sırlar
token.txt
.env
*.bin
*.key
*.pem
*.crt
# Diğer Geçici Dosyalar
*.log
*.tmp
*.bak
*.onnx
*.h5
*.ckpt
*.zip
*.tar.gz
*.jpg
*.png